rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.email == "admin@amaxcrafts.com";
    }

    match /products/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /categories/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /banners/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /media/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /settings/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /contacts/{document=**} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /orders/{document=**} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }
  }
}

